*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.center1{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 88vh;
    color: white;
}

.login{
    background: url(images/front_login.jpg);
    border: 10px solid black;
    width: 45%;
    margin-top: 30px;
    margin-left: 80vh;
    padding: 50px;
}

.button1{
    width: 130px;
    height: 22px;
    border: 1px solid black;
}

.button2{
    width: 120px;
    height: 20px;
    margin-bottom: 10px;
}

.fa_buttons{
    width: 300px;
    height: 50px;
    background-color: aliceblue;
}

.unpw{
    text-align: center;
    width:75%;
    border: 3px solid black;
    margin: auto;
    background-color: rgb(243, 237, 237);
}

.signup{
    margin-top: 10px;
    margin-left: 20%;
    text-align: end;
    margin: auto;
}

.frontbox{
    text-align: center;
    background-color: rgb(20, 115, 210);
    width: 40%;
    height: 30%;
    padding: 10px;
    margin-left: 63%;
}

.frontbox_inner{
    text-align: left;
    background-color: white;
}

.loginphp{
    text-align: center;
    border: 2px solid black;
    width: 35%;
    padding: 15px;
    margin: auto;
    margin-top: 15%;
}

.apps{
    float: left;
    background-color: aliceblue;
    width: 20%;
    height: 695px;
    text-align: center;
    background: url(images/app_side.jpg);
    background-size: cover;
}

.messages{
    float: right;
    background-color: antiquewhite;
    width: 20%;
    height: 695px;
    text-align: center;
    background: url(images/app_side.jpg);
    background-size: cover;
}

.center{
    float: left;
    background-color: aliceblue;
    background-size: cover;
    width: 60%;
    height: 695px;
    text-align: center;
}

.userinfo{
    text-align: left;
    padding: 10px;
}

.float_left{
    float: left;
    margin-left: 50px;
}

.float_right{
    float: right;
    margin-right: 50px;
}

.profile_pic{
    text-align: left;
    margin-left: 30px;
}

.user_info{
    text-align: left;
    margin-left: 30px;
}

.change_dp{
    float: right;
    margin-right: 1100px;
    margin-top: 110px;
}

.dps{
    padding: 80px;
    margin-left: 3%;
    justify-content: center;
    align-items: center;
}

.cen{
    margin-left: 45%;
    height: 30px;
    width: 100px;
}

#canvas1{
    border: 1px solid black;
    background: url(images/canvas1.jpg);
    background-size: cover;
    position: absolute;
}

#front{
    position: absolute;
}